RewriteEngine on
RewriteBase /
RewriteRule ^(blog|feedbacks|login|register|logout)?$ index.php?a=$1 [L]
RewriteRule ^blog/(.*)?$ index.php?a=blog&page=$1 [L]
RewriteRule ^post/(.*)/(.*)?$ index.php?a=post&id=$1 [L]
RewriteRule ^password/reset?$ index.php?a=password&b=reset [L]
RewriteRule ^password/change/(.*)?$ index.php?a=password&b=change&hash=$1 [L]
RewriteRule ^email-verify/(.*)?$ index.php?a=email_verify&hash=$1 [L]
RewriteRule ^account/(dashboard|verification|exchanges|settings)?$ index.php?a=account&b=$1 [L]
RewriteRule ^account/exchanges/(.*)?$ index.php?a=account&b=exchanges&page=$1 [L]
RewriteRule ^exchange/(.*)_(.*)_(.*)?$ index.php?a=exchange&from=$1&to=$2 [L]
RewriteRule ^page/(.*)?$ index.php?a=page&prefix=$1 [L]
RewriteRule ^feedbacks/(.*)?$ index.php?a=feedbacks&page=$1 [L]
RewriteRule ^pay/(.*)?$ index.php?a=pay&id=$1 [L]
RewriteRule ^track/(.*)?$ index.php?a=track&exchange_id=$1 [L]
RewriteRule ^leave-feedback/(.*)?$ index.php?a=leave_feedback&exchange_id=$1 [L]
RewriteRule ^cancel/(.*)?$ index.php?a=cancel&id=$1 [L]
RewriteRule ^payment/(.*)/(.*)/success?$ index.php?a=payment_success&id=$1&exchange_id=$2 [L]
RewriteRule ^payment/(.*)/(.*)/fail?$ index.php?a=payment_fail&id=$1&exchange_id=$2 [L]
